.flex-container {
 display: inline-flex;
 justify-content: flex-start;
 flex-wrap: wrap;
}

.TextStyle{
  border: 1px solid;
  font: center;
  width: 109px;
}

.mainimg{
  padding: 5px 5px 5px 5px;
  width: 250px;
  height: 2500px;
}
