.flex-container {
 display: inline-flex;
 justify-content: flex-start;
 flex-wrap: wrap;
}

.mainblock{
  width: 250px;
  border: double black;
  margin: 10px;
}

.mainblock p{
  text-align: center;
}

.mainblock img{
  border-bottom: double black;
  height: 250px;
  width: 250px;
}
