.parent {
  position: relative;
  top: 0px;
  left: 0px;
}

.parent h1{
  position: absolute;
  top: 3px;
  left: 42%;
  z-index: 1;
}

.imgs{
  position: absolute;
  top: 90px;
  left: 90px;
  z-index: 1;
}

.add-menu{
  position: absolute;
  left: 100px;
  top: 60px;
  z-index: 1;
}

.find-menu{
  position: absolute;
  left: 100px;
  top: 60px;
  z-index: 1;
}

.sidebar{
  position: absolute;
  z-index: 2;
}
